@charset "UTF8";

body {
    background-color: chartreuse;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
h1 {
    color: crimson;
    background-color: lightblue;
}
h2 {
    color: darkmagenta;
}
p {
    text-align: justify;
}