@charset "UTF-8";

@font-face {
    font-family: 'cordin';
    src: url('fontes/cordin-bold-oblique.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    color: white;
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    padding: 30px;
    text-align: center;
    height: 275px;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header > p {
    color: white;
}

header > p > a {
    font-size: bold;
    text-decoration: none;
}